body {
   margin: 20px;
    background-color: #efefef;

}
header{
    border-bottom: solid #cccccc;
    background: #ffffff;
    margin: 0 auto;
    margin: -30px;
    padding: 10px;

}

#name {
    background: #4aaaa5;
    text-align: center;
    border: #cccccc solid thin;
    color: white;
    margin-bottom: -20px;
    margin-right: -50px;
    padding: 15px 30px 15px 30px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul{
    list-style-type: none;

}
li a{
    display: inline-block;
    color: #777777;
    text-align: center;
    font-family: 'Arial' 'Helvetica neue',Helvetica, sans-serif;
    text-decoration: none;
}

.col-sm-2{
    margin-top: 30px;
    padding-right: 40px;

}
head {
    margin: 0 auto;
    width: 960px;

}
#main{
    background: white;
    border: #dddddd;
    width: 960px;
    margin: 0 auto;
}
h1 {
    color: teal;
    text-align: left;
    font-family: 'Georgia',Times, 'Times New Roman',serif;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid #cccccc;
}
#profile-pic {
    width: 200px;
    border: solid black;
    float: left;
    margin-right: 20px;
    margin-left: 10px;

}

footer{
    background-color: #666666;
    text-align: center;
    padding-bottom: -20px;
    margin-top: 20px;
    height: 100px;
    color: #f2f2f2;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}



